<html>
<head>
  <!-- title -->
<title>Fishing</title>
<h1>Fishing</h1>
<link rel="stylesheet" href="Fish.css">
<script type="text/javascript" src="FishMaker.js"></script>
</head>
<body>
<div align="left">
	<nav class="navbar navbar-dark navbar-expand-lg navbar-inverse bg-inverse">
		<img src="images/tempLogo.png" alt="Logo" style="width:5%;">
		<a class="nav-link" style="color: #FFFFFF;" href="/">Home<span class="sr-only"></span></a>
	<ul class="navbar-nav mr-auto">
	    <li class="nav-item">
          <a class="nav-link" style="color: #041144;" href="Sudoku.html">Sudoku</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #041144;" href="WordSearch.html">Word Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #041144;" href="MineSweeper.html">Mine Sweeper</a>
        </li>
      </ul>
	</div>
  <br></br>
</body>
<g>Time to Fish</g><br></br>
<button onclick="FishingTime();" id="FishButton">Fish</button>

</html>
