<html>
<head>
	<!-- title -->
	<title>Project Plan</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="cssPage.css">
	<link href="https://fonts.googleapis.com/css?family=Lato|Merriweather&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">	

	<!-- Navigation -->
	<div>
	<nav class="navbar navbar-dark navbar-expand-lg navbar-inverse bg-inverse">
		<img src="images/tempLogo.png" alt="Logo" style="width:5%;">
		<a class="nav-link" style="color: #041144;" href="/">Home<span class="sr-only"></span></a>
    <!-- <div class="collapse navbar-collapse" id="navbarTogglerText"> -->
	<ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" style="color: #041144;" href="ProjectPage.html">Project Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #041144;" href="SpecificationsPage.html">Specifications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #FFFFFF;"href="ProjectPlan.html">Project Plan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #041144;" href="TeamPage.html">Team Page</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" style="color: #041144;" href="Login">Login</a>
        </li>
      </ul>
    <!-- </div> -->
	</div>
	<div class="header">
		<div class="headerText">		
		<h1>Welcome to the Project Plan</h1>
		</div>
	</div>
	</head>
<body>

<div class="textBox">
	<h2 class = "welcomesub"> Plan Goal</h2>
	<p class = "specOne">
	Our project plan is to have a new minigame created every two weeks 
	and have debugging done on said game within the following third week.
	Chat messaging for the game will be incorporated during the debugging phase.
	So, by <font color="#CB2979"><strong>every third week</strong></font>, there will be a functioning game with 
	a chat function added. While the library will not be heavily populated with games 
	by the end of the semester, the games that will be present will be fully 
	operational. For the sake of concept, we are going for quality over quantity.
	In time, this should lead to a well-designed website.
	</p>
	<hr>
	<img src="images/planningremovebg.png" alt="connected" width= "40%" class="centerImg">
	<hr>
	<!-- Kira really wants to add this -->
	<h2 class = "welcomesub">If Time Permits</h2>
   	<p class = "specOne">
    If time permits, we would like to add a search bar so users will be able to
	find a specific game in the library. We would also like to implement a way for 
	users to message images. Both are minor things, but would greatly enhance the users'
	experience while using the webapp. We are not sure if these are all the features that
    we would like to add, but we know this would be a good general starting
    point for improvements.
    </p>
	<hr>
	<img src="images/clock.gif" alt="clock" width= "15%" height= "40%" class="centerImg">
	<hr>
	<h2 class = "welcomesub"> With Time Constraints</h2>
    <p class = "specOne">
	If the time is lost, the features that we may have to let go would be
 	quantity of minigames. Our goal is to have at least five minigames a player
 	can switch through while using our web app. If there isn't enough time, we'll 
	only shoot for four, or three, we really hope to have a minimum of three games.
    </p>
</div>
</body>
</html>
