<!DOCTYPE html>
<html>
<head>
	<!-- title -->
	<title>Project Page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="cssPage.css">
	<link href="https://fonts.googleapis.com/css?family=Lato|Merriweather&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">	

	<!-- Navigation -->
	<div>
	<nav class="navbar navbar-dark navbar-expand-lg navbar-inverse bg-inverse">
		<img src="images/tempLogo.png" alt="Logo" style="width:5%;">
		<a class="nav-link" style="color: #041144;" href="/">Home<span class="sr-only"></span></a>
	<ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" style="color: #FFFFFF;"href="ProjectPage.html">Project Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #041144;" href="SpecificationsPage.html">Specifications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #041144;" href="ProjectPlan.html">Project Plan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #041144;" href="TeamPage.html">Team Page</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" style="color: #041144;" href="Login">Login</a>
        </li>
      </ul>
	</div>
	<div class="header">
		<div class="headerText">		
		<h1>Project - inverted <strong> FACEBOOK </strong></h1>
		</div>
	</div>
	</head>


<body>
<div class="textBox">
        <h2 class = "welcomesub"> Our Mission</h1>
		<p class="projectP">
		Our project is aiming to create a simplified, inverted version of Facebook games.
		Where Facebook aims to connect people and then encourage them to play games,
		we plan to encourage people to play games and then connect with people.
		</p>
		<hr>
			<img src="images/facebookGames.png" alt="facebookGames" width= "50%" class="centerImg">
		<hr>
		<h2 class = "welcomesub"> Our Promise</h2>
        <p class="projectP">
		After logging into our site, users will be able to interact with other people who are also
		logged in from any game or in the home page library with all the games via a chat function. 
		and creating a sense of community amoung users. Games are simple and vary from minesweeper,
		sudoku, and clicking-based games. We have included a few screenshots of similar games that 
		we have drawn inspiration from to help demonstrate what the site may include. 
		</p>
		<hr>
		<!-- Photo examples of the types of games we want to include in the site -->
		<div class="row">
			<div class="column">
				<img src="images/cookieclicker.jpg" alt="cookieclicker" width= "100%">
			</div>
			<div class="column">
				<img src="images/minesweeper.jpg" alt="minesweeper" width= "100%">
			</div>
			<div class="column">
				<img src="images/tank.png" alt="tank" width= "100%">
			</div>
		</div>
		<hr>
		<h2 class = "welcomesub"> Our Connection</h2>
        <p class="projectP">
		We want to connect people playing single-player, casual games, by providing them the option to
		interact with other people who are actively playing on the same site. Some games may allow other
		players to interact with other players directly.
		</p>
		<hr>
		<img src="images/connected.gif" alt="connected" width= "40%" class="centerImg">
		<hr>
</div>
</body>
</html>
