<html>
<head>
	<!-- title -->
	<title>Team Page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="cssPage.css">
	<link href="https://fonts.googleapis.com/css?family=Lato|Merriweather&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">	

	<!-- Navigation -->
	<div>
		<nav class="navbar navbar-dark navbar-expand-lg navbar-inverse bg-inverse">
			<img src="images/tempLogo.png" alt="Logo" style="width:5%;">
			<a class="nav-link" style="color: #041144;" href="/">Home<span class="sr-only"></span></a>
		<ul class="navbar-nav mr-auto">
		<li class="nav-item">
		  <a class="nav-link" style="color: #041144;" href="ProjectPage.html">Project Page</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" style="color: #041144;" href="SpecificationsPage.html">Specifications</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link"  style="color: #041144;" href="ProjectPlan.html">Project Plan</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" style="color: #FFFFFF;" href="TeamPage.html">Team Page</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" style="color: #041144;" href="Login">Login</a>
		</li>
      		</ul>
    	</div>	
		
	<div class="header">
		<div class="headerText">		
		<h1>Welcome to the Team Page</h1>
		</div>
	</div>
	</head>
	
<body>
<div class="textBox">
<h1 class="welcome">Meet the Team</h1>
<hr>
<div class="row">
	<div class="columnTeam"><h3 class = "nameHead">
	Kira Sanford <strong>(Team Leader) </strong>
	<br><img class="avatar" src="images/kira1.png" alt="kira" style="width:20%;margin-left:15px;">
	</h3>
    	<p class = "teamEx">
		She is the heroine of her own story and nothing she has ever achieved was
		in vain. She has a high pain tolerance and can swing a sword with malevolence.
		Kira is working front end for this project with experience in Java, HTML, CSS,
		and JavaScript.
    	</p>
	<hr>
	</div>
	<div class="columnTeam"><h3 class = "nameHead">
	Javanshir Pashayev
	<br><img class="avatar" src="images/jay2.png" alt="jay" style="width:20%;margin-left:15px;">
	</h3>
	<p class = "teamEx">
	    	I am Jay, I like pots. My favorite character from a marvel story is
	    	Mary Jane from SpiderMan. I believe she is a wonderful actor.
	    	She is smoking hot. Kira agrees and shares all of my beliefs.
	    	My faith is the highest.
		Jay is working back end for this project.
    	</p>
	<hr>
	</div>
	<div class="columnTeam"><h3 class = "nameHead">
	Shubhang Goel
	<br><img class="avatar" src="images/shubhang.png" alt="shubhang" style="width:20%;margin-left:15px;">
	</h3>
    	<p class = "teamEx">
	Is an Indian man of the continent of Asia. Due to his strong beliefs and
	household traditions, he is a passionate lover of pop. Coke is very dear
	friend of his. His favorite cereal is CoCo puffs. Sometimes the climate
	gives him a dry nose, so he keeps his nose extra clear. 
	Shubhang is working back end for this project.
    	</p>
	<hr>
	</div>
	<div class="columnTeam"><h3 class = "nameHead">
	Jacob Kasparian
	<br><img class="avatar"  src="images/jake.png" alt="jake" style="width:20%;margin-left:15px;">
	</h3>
    	<p class = "teamEx">
	Have you heard of the mushroom man? He wears capsules for hats and
	roams the forests of wonderland like a typical giant. His favorite 
	food is trees as they're tall, green, and nutritious.
	Jake is working front end for this project.
    	</p>
	<hr>
	</div>
</div>
</div>
</body>
</html>
